<launch>
    <rosparam command="load" file="$(find project11_vorc)/parameters/vorc.yaml" />

    <include file="$(find project11_vorc)/launch/localization.launch"/>
    
    
    <node pkg="cora_helm" type="cora_helm_node.py" name="cora_helm"/>

    <node pkg="cora_helm" type="simple_differential_controller.py" name="simple_controller">
        <remap from="odom" to="/cora/robot_localization/odometry/filtered"/>
    </node>
    
    <include file="$(find project11_vorc)/launch/navigation.launch"/>
    
    <node pkg="dp_hover" type="dp_hover_node" name="dp_hover"/>
    
    <node pkg="project11_vorc" type="vorc_task_manager.py" name="task_manager"/>

    
    <include file="$(find project11_vorc)/launch/viz.launch"/>

    <node pkg="joy" type="joy_node" name="joy_node">
        <param name="autorepeat_rate" value="10.0"/>
    </node>
    
    <param name="allow_differential_drive" value="True"/>
    <node pkg="joy_to_helm" type="joy_to_helm.py" name="joy_to_helm"/>

    <node pkg="command_bridge" type="command_bridge_sender_node.py" name="command_bridge_sender"/>
    <node pkg="command_bridge" type="command_bridge_receiver_node.py" name="command_bridge_receiver"/>

    <node pkg="camp" type="AutonomousMissionPlanner" name="camp"  args="$(find project11_vorc)/charts/ $(find project11_vorc)/charts/L16-23800-34552-16-16_16.kap"/>
    
    <include file="$(find project11_vorc)/launch/perception.launch"/>

</launch>
