<launch>

  <!-- Use YOLOv4 demo with 2 classes buoy_red and green_totem-->
  <!-- arg name="network_param_file"         default="$(find project11_vorc)/config/yolov4_vorc_demo.yaml"/-->
  <!-- arg name="image" default="/cora/sensors/cameras/front_left_camera/image_raw" /-->

  <!-- Use YOLOv4 -->
  <arg name="network_param_file"         default="$(find project11_vorc)/config/yolov4_obj.yaml"/>
  <arg name="image" default="/cora/sensors/cameras/front_left_camera/image_raw" />

  <!-- Include main launch file -->
  <include file="$(find darknet_ros)/launch/darknet_ros.launch">
    <arg name="network_param_file"    value="$(arg network_param_file)"/>
    <arg name="image" value="$(arg image)" />
    <arg name="yolo_weights_path"          default="$(find project11_vorc)/config/"/>
    <arg name="yolo_config_path"           default="$(find project11_vorc)/config/"/>
  </include>

  <arg name="gui" default="true" />
  <group if="$(arg gui)">
      <node pkg="image_view" type="image_view" name="yolo_view">
          <remap from="image" to="/darknet_ros/detection_image"/>
      </node>
  </group>
  
</launch>
